<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home Automation terminal{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>IoT Admin</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('ssh.ssh_page') }}">SSH</a></li>
                <li><a href="{{ url_for('mqtt.mqtt_index') }}">MQTT</a></li>
                <li><a href="{{ url_for('router.index') }}">Router</a></li>
                <li><a href="{{ url_for('telnet.telnet_interface') }}">Telnet</a></li>
                <li><a href="{{ url_for('ftp.ftp_index') }}">FTP</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
        <script src="{{ url_for('static', filename='/js/terminal.js') }}"></script>
    </main>
    <footer>
        <p>&copy; Home automation Software</p>
    </footer>
</body>
</html>
